<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/index.css">
    <title>Gordon Store</title>
</head>

  <body>
<link rel="stylesheet" href="/Content/detalhesproduto.css">

<div id="breadcrumb" style="text-align:left !important">
</div>
<div class="container-detalhe">
    <div class="images">
            <img class="img-thumbnail" src="/Produto/GetUpImg/9"
                   style="" />
    </div>

    <div class="product">
        <p class="p">Argolas</p>
        <h1 class="h1">Argola Dourada com Pérola</h1>
        <h3 class="h3">Vivara</h3>
        <h2 class="h2">R$ 89</h2>

        <div class="buttons">
                <a href="/Seguranca/Account/Login" class="primary-btn">Entre com uma conta para adicionar o produto ao carrinho</a>

        </div>
    </div>
</div>
 
    <section class="lista">
        <h2 class="titulosection">
            EM DESTAQUE
        </h2>
        <div class="listadeprodutos">
            <div class="containerproduto">
                <div class="conteudocontainer">

                    <div class="containerexterno">
                        <img class="imagemcontainer" src="~/Imagens/joia-1" alt="imagem do produto">
                        <p class="precoproduto">Preço</p>
                    </div>
                   <h5 class="tipoproduto">Tipo da capa</h5>
                    <p class="tituloproduto">Nome do Produto</p>
                    <div class="productbottom">
                        <a href="#"><img src="~/Imagens/cartproduct.png" alt="cart"></a>
                    </div>
                </div>
            </div>
            <div class="containerproduto">
                <div class="conteudocontainer">

                    <div class="containerexterno">
                        <img class="imagemcontainer" src="~/Imagens/joia-3" alt="imagem do produto">
                        <p class="precoproduto">Preço</p>
                    </div>
                    <h5 class="tipoproduto">Tipo da capa</h5>
                    <p class="tituloproduto">Nome do Produto</p>
                    <div class="productbottom">
                        <a href="#"><img src="~/Imagens/cartproduct.png" alt="cart"></a>
                    </div>
                </div>
            </div>
            <div class="containerproduto">
                <div class="conteudocontainer">

                    <div class="containerexterno">
                        <img class="imagemcontainer" src="~/Imagens/joia-5" alt="imagem do produto">
                        <p class="precoproduto">Preço</p>
                    </div>
                    <h5 class="tipoproduto">Tipo da capa</h5>
                    <p class="tituloproduto">Nome do Produto</p>
                    <div class="productbottom">
                        <a href="#"><img src="~/Imagens/cartproduct.png" alt="cart"></a>
                    </div>
                </div>
            </div>
            <div class="containerproduto">
                <div class="conteudocontainer">

                    <div class="containerexterno">
                        <img class="imagemcontainer" src="~/Imagens/joia-4" alt="imagem do produto">
                        <p class="precoproduto">Preço</p>
                    </div>
                    <h5 class="tipoproduto">Tipo da capa</h5>
                    <p class="tituloproduto">Nome do Produto</p>
                    <div class="productbottom">
                        <a href="#"><img src="~/Imagens/cartproduct.png" alt="cart"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
