@{ 
    ViewBag.Title = "Home Page"; 
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/App_Themes/Tema1/Home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Malfatti</title>
    <!--homeamd-->
</head>
<body>
    <main>
        <img class="line" src="~/Imagens/linha.png" alt="linedecoration">

        <section>
            <ol>
                <li><a href="#"> <img src="~/Imagens/aneis.png" alt="aneis"> </a></li>
                <li><a href="#"> <img src="~/Imagens/brincos.png" alt="brincos" id="relative"> </a></li>
                <li><a href="#"> <img src="~/Imagens/colares.png" alt="colares"> </a></li>
            </ol>
        </section>
        <section>
            <p>Aproveita E Seleciona Suas Peças Favoritas De Liya</p>

            <a href="#" class="button">COMPRE AGORA</a>
        </section>

        <img class="line" src="~/Imagens/linha.png" alt="linedecoration">
    </main>

</body>
</html>