* {
    font-family: 'Abel', sans-serif;
    padding: 0;
    margin: 0;
    font_size: 1em;
    /*kground-color: #C2B999;*/ 
}

h1 {
    color: white;
    text-align: center;
    font-size: 1.4em;
    margin-top: 2em;
    margin-bottom: 1em;
}

/*h2 {
    font-weight: bold;
    text-align: center;
    color: #9E895E;
}*/

body {
    background-color: rgba(212, 206, 185, 1);
    /*margin-top: 1em;*/
    text-align: center;
    font-size: 1.4em;
    margin-top: 2em;
}
body div {
        justify-content: center;
        background-color: white;
        min-width: 12cm;
        max-width: 12cm;
        min-height: 100%;
        max-height: 25cm;
        margin: 0 38%;
}

main {
    margin: 0 auto;
}

#botaosubmit {
    background: #9E895E;
    color: white;
    font-weight: bold;
    padding:1em 10.5em;
    border: none;
    margin: 1em 1em 1em 1em;
    justify-content: center;

}

.form-control {
    background: white;
    border-radius: 8px;
    border: 2px;
    margin: 2em 7.7em;
    padding:1em;
    color:black;
}
/*
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}
header{
    background-color: #9E895E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1em;
    padding: 0 4em;
    height: 4.5em;
}
header img{
    height: 3em;
}
header nav{
    display: flex;
    gap: 35em;
    margin: 0 2em;
}
nav a{
    text-decoration: none;
    color: white;
}
nav li{
    font-family: 'Abel', sans-serif;
    font-weight: 100;
}
ul {
    display: flex;
    list-style: none;
    gap: 4em;
    text-decoration: none;
}


div{
    font-family: 'Abel', sans-serif;
    margin: 6em;
    margin-left: 8em;
}
main{
    display: flex;
    margin-left: 5em;
}
main section{
    margin: 2em;
}
aside section:nth-child(1) h2{
    font-family: 'Abel', sans-serif;
    font-size: 2.5em;
}
aside section:nth-child(1) p{
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
}
aside section:nth-child(1) p:nth-child(4){
    margin-top: 3em;
}
footer{
    background-color: #C2B999;
    text-align: center;
    margin: 0 auto;
    margin-top: 6em;
    padding: 3em;
}


aside section:nth-child(2) a{
    color: #000000;
    text-decoration: none;
    font-family: 'Abel';
    font-size: 1.5em;
    border: 0.1em solid #3B3616;
    
    margin-bottom: 2em;
    margin-top: 3em;
    width: 15em;
    padding: 1em;
    display: block;
    text-align: center;
}
aside section:nth-child(2) a:nth-child(2){
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Abel';
    font-size: 1.5em;
    background-color: #000000;
    border: 0.1em solid #000000;
    
    width: 15em;
    padding: 1em;
    display: block;
    text-align: center;
}
*/
